.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clear {
  clear: both;
}

ul.nav-menu {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}

ul.nav-menu > li {
  margin-right: 60px;
}

.video-container {
  position: relative;
}

.flash {
  position: absolute;
  top: 0;
  left: 21%;
  border: 60px solid #ffffff;
  z-index: 999;
  width: 378px;
  height: 256px;
  opacity: 70%;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  animation: blinker 1s linear infinite;
}

#video-element {
  z-index: 1;
}

.countdown {
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 128px;
  font-weight: 600;
  color: #ececec;
  opacity: 0.8;
  text-shadow: 1px 1px 30px black;
}

#product-container {
  /* position: relative; */
  height: 480px;
  width: 640px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: -500px;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 480px;
}

.frame-photo {
  position: absolute;
  top: 0;
  left: 0;
}

.frame-photo > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 1em; */
}

.frame-photo > div > a {
  text-align: center;
  height: 240px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
